/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 5. 1, 오후 5:49:38
    Author     : ijeongsu
*/

.mainBackground{
  -fx-background-color: #01C2F2; /* 푸른색 처음에 우리가 정한 푸른색 */
}

.specificBackground{
    -fx-background-color: #85D03C; /* 푸른색 짝꿍 녹색*/
}

.mainBackground:pressed{
    -fx-background-color: red;
}