/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017. 5. 1, 오후 5:49:38
    Author     : ijeongsu
*/

.mainBackground{
  -fx-background-color: #01C2F2; /* 푸른색 처음에 우리가 정한 푸른색 */
}

.specificBackground{
    -fx-background-color: #85D03C; /* 푸른색 짝꿍 녹색*/
}

.mainBackground:pressed{
    -fx-background-color: red;
}
.mainBackground:focused {
    -fx-focus-color: #01C2F2;
    -fx-faint-focus-color: #01C2F2;
    -fx-inner-border: #01C2F2;
    -fx-body-color: #01C2F2;
 
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: -2, -0.3, 1, 2;
    -fx-background-radius: 7, 6, 4, 3;
}
